/vendor
/bin
/.libs
/.gopath
/.vscode
/dist
/test/tests.*
/golint.txt
/govet.txt
/python/build
/autom4te.cache/
/config.*
!/config.go
/configure
/Makefile
/3rdparty-LICENSES.md
/aclocal.m4
/errnumeric_string.go
/libkustomer.pc
